<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}index{% endblock %}</title>
        
        {% block stylesheets %}
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/main.css')}}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
         <div class="container">
        <div class="header">
            <div class="bar">
                <div class="logo">
                    <a href="main"><img src="{{ asset('/img/logo.svg')}}"></a>
                </div>
                <div class="bar-buttons">
                    <a href="#">How it works?</a>
                    <a href="#">About Us</a>
                    <a href="#">Features</a>
                </div>
            </div>
            <div class="login-button">
                <a href="#">Login</a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row-content">
            <div class="vertical-content">
                <div class="motto">
                    Learn new concepts<br>
                    for each question
                </div>
                <div class="lower-motto">
                    | We help you prepare for exams and quizzes
                </div>
                <div class="start-bar">
                    <div class="start-button">
                        <a href="#">Start solving</a>
                    </div>
                    <div class="knowmore-button">
                        <a href="#">Know more</a>
                    </div>
                </div>
                <div class="smaller-image">
                    <img src="{{ asset('/img/smaller-lines.svg')}}" alt="small Image">
                </div>
            </div>
                <div class="image">
                    <img src="{{ asset('/img/people1.svg')}}" alt="Large Image">
                </div>
        </div>
    </div>
        {% endblock %}
    </body>
</html>
